/* ---------------------- Page background settings ----------------------- */
body {
    background: url("../images/wheaton-campus-clear.jpg") center;
    background-size: cover;
}

/* _______________________________________________________________________ */

/* ---------------------- Page header settings --------------------------- */
.header {
    background-color: #0072bc;
    padding: 5px;
    opacity: 0.8;
}

#header-content {
    margin-bottom: 5px;
    font-family: 'Questrial', sans-serif, serif;
    text-align: center;
    font-size: 3.5vw;
    color: white;
}

/* _______________________________________________________________________ */

/* ---------------------- Page selector settings ------------------------- */
/* Set the background. */
#course-picker {
    background-color: rgba(0, 114, 188, 0.8);
}

/* Details for the search button. */
#submit {
    color: #EE6551;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 1px solid #EE6E73;
    font-family: sans-serif, serif;
    transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
}

#submit:hover {
    color: white;
    border: 1px solid #2AA21D;
}

#submit:hover .fa-search {
    transform: rotateY(360deg);
    transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
}

/* Set drop down details. */
.bootstrap-select .btn {
    color: white;
    background: transparent;
    font-family: sans-serif, serif;
    transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
}

/* Make the placeholder color always white. */
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: white;
}

/* _______________________________________________________________________ */

/* ---------------------- Course table settings -------------------------- */
/* Make the width always take all possible space. */
#course-table {
    width: 100% !important;
}

/* Make table head left aligned. */
.table th {
    text-align: left;
}

/* _______________________________________________________________________ */

#course-container {
    width: 100%;
    background-color: white;
}

.course-table tr:hover {
    transition: all 150ms ease-in;
    background-color: beige;
}

/*"+" icon in the result table*/
#add_button {
    text-align: center;
}

/*this is to make the "+" icon rounded in the result table*/
#add_button .glyphicon {
    padding: 5px;
    border-radius: 50%;
    background: #2AA21D;
    color: white;
    font-size: 10px;
}

/*hide the additional information about the class*/
div.slider {
    display: none;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}



/*___________________________________________________*/

/*outer/bigger body of the calendar*/
#calendar {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border: 1px solid black;
}

/*___________________________________________________*/

/*the whole footer box*/
footer {
    margin-top: 20px;
    background: black;
    opacity: 0.8;
}

/*second inside footer box*/
#footer {
    padding-top: 5px;
    margin-bottom: 0;
}

/*footer header: Wheaton College*/
.footer_header {
    font-family: 'Questrial', sans-serif, serif;
    font-size: 50px;
    color: #0072bc;
}

/*icon on the footer*/
.contact-icon {
    width: 25px;
    border-radius: 50%;
}

/*names of the developer*/
.artist {
    color: white;
}

.calendar {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-color: black;
}

ul.inner li {
    opacity: 0;
    animation-name: menu1;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes menu1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

select option[selected] {
    background-color: #ee6e73;
}

.fc-time-grid .fc-slats td {
    height: 1.7em;
}

/*semester title for the result table*/
div.toolbar {
    margin-top: 10px;
    float: left;
    padding-top: 5px;
    font-family: 'Nanum Gothic', sans-serif, serif;
    font-size: 20px;
    padding-left: 10px;
    color: #0072bc;
    letter-spacing: 3px;
}

/*this is for the search bar in the result table*/
.dataTables_wrapper .dataTables_filter {
    margin-top: 10px;
}

.footer-contact {
    color: white;
    opacity: 0.9;
}

.icons {
    margin-left: 10px;
    margin-right: 10px;
}

.icons a {
    color: white;
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
}

.icons a:hover {
    color: #0072bc;
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
}

.gmail {
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
    border: none;
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
}

.gmail:hover {
    color: #0072bc;
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
    text-decoration: underline;
}