/* ---------------------- Page background settings ----------------------- */
body {
    background: url("../images/wheaton-campus-clear.jpg") center;
    background-size: cover;
}

/* _______________________________________________________________________ */

/* ---------------------- Page header settings --------------------------- */
.header {
    background-color: #0072bc;
    padding: 5px;
    opacity: 0.8;
}

#header-content {
    margin-bottom: 5px;
    font-family: 'Questrial', sans-serif, serif;
    text-align: center;
    font-size: 3.5vw;
    color: white;
}

/* _______________________________________________________________________ */

/* ---------------------- Page selector settings ------------------------- */
/* Set the background. */
#course-picker {
    background-color: rgba(0, 114, 188, 0.8);
}

/* Details for the search button. */
#submit {
    color: #EE6551;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 1px solid #EE6E73;
    font-family: sans-serif, serif;
    transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
}

#submit:hover {
    color: white;
    border: 1px solid #2AA21D;
}

#submit:hover .fa-search {
    transform: rotateY(360deg);
    transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
}

/* Set drop down details. */
.bootstrap-select .btn {
    color: white;
    background: transparent;
    font-family: sans-serif, serif;
    transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
}

/* Make the placeholder color always white. */
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: white;
}

/* _______________________________________________________________________ */

/* ---------------------- Course table settings -------------------------- */
/* Make the width always take all possible space. */
#course-table {
    width: 100% !important;
}

/* Make table head left aligned. */
.table th {
    text-align: left;
}

/* Set the course table background. */
#course-container {
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);

}

/* Set hover over for table rows. */
.course-table tr:hover {
    transition: all 150ms ease-in;
    background-color: beige;
}

/* Hide the additional information of the class. */
div.slider {
    display: none;
}

/* Format the additional information. */
table.dataTable tbody td.no-padding {
    padding: 0;
}

/* _______________________________________________________________________ */

/* ---------------------- Calendar settings ------------------------------ */
/* Format body of the calendar. */
#calendar {
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
}

/* _______________________________________________________________________ */

/* ---------------------- Page footer settings --------------------------- */
/* Settings for the whole footer box. */
footer {
    opacity: 0.8;
    margin-top: 20px;
    background: black;
}

/* Inner footer box. */
#footer {
    padding-top: 5px;
    margin-bottom: 0;
}

/* Title of the footer. */
#footer-title {
    color: #0072bc;
    font-size: 50px;
    text-align: center;
    font-family: 'Questrial', sans-serif, serif;
}

/* Contact session of the footer. */
#footer-contact {
    color: white;
    opacity: 0.9;
    text-align: center;
}

/* _______________________________________________________________________ */
