<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Selection</title>
    <!-- Project javascript -->
    <script src="../static/js/script_base.js"></script>
    <!-- Project CSS -->
    <link rel="stylesheet" href="../static/css/style_base.css">
    <!-- Jquery JS -->
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- CSS and JS for sweet alert package. -->
    <script src="../static/node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <link rel="stylesheet" href="../static/node_modules/sweetalert2/dist/sweetalert2.css">
    <!-- Bootstrap Select -->
    <script src="../static/node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bootstrap-select/dist/css/bootstrap-select.css">
    <!-- Data Table -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed">

    <!-- Function call for data table -->
    <script>

        $(document).ready(function() {
            var window_height = window.innerHeight-350;
            console.log(window_height);
            $('#result_table').DataTable( {
                "scrollY": window_height,
                "scrollCollapse": true,
                "paging":         false,
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                }
            });
        });

        $('#result_table').find('tbody').on('click', 'td.glyphicon glyphicon-chevron-down', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    $('div.slider', row.child()).slideUp( function () {
                        row.child.hide();
                        tr.removeClass('shown');
                    } );
                }
                else {
                    // Open this row
                    row.child( format(tr.data("child-value")) ).show();
                    tr.addClass('shown');
                    $('div.slider', row.child()).slideDown();
                }
        } );


        $(function(){
           $(window).on('resize', resize_result_table);
        });

        function resize_result_table(){
            var window_height = window.innerHeight-350;
            console.log("the new height"+window_height);
            $('#result_table').DataTable( {
                "destroy": true,
                "scrollY": window_height,
                "scrollCollapse": true,
                "paging":         false
            } );
        }

    </script>
</head>


<body>
    <div class="container-fluid header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 college_header">
                <b>Wheaton College </b>
                <sub>- The right tool to help you pick classes</sub>
              </div>
        </div>
    </div>
    <div class="container-fluid course-picker">
        <div class="row">
            <form name="Selections" method="post">
                <select class="selectpicker col-lg-2" id="semester" name="semester" title="Semesters">
                    <option value="" selected>Semesters</option>
                    {% for name in fetched_semesters.index %}
                        <option value= "{{name}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <select class="selectpicker col-lg-2" data-live-search="true" id="subjects"
                        name="subjects" title="Subject(s)" multiple="multiple">
                    {% for name, value in fetched_subjects.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="foundation"></label>
                <select class="selectpicker col-lg-2" id="foundation" name="foundation">
                    {% for name, value in fetched_foundations.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="division"></label>
                <select class="selectpicker col-lg-2" id="division" name="division">
                    {% for name, value in fetched_divisions.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="area"></label>
                <select class="selectpicker col-lg-2" id="area" name="area">
                    {% for name, value in fetched_areas.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <button type="submit" id="submit" onclick="return checkField()">
                    Search &nbsp
                </button><i class="glyphicon glyphicon-search"></i>
            </form>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="col-lg-6 col-md-6">STH</div>
        <div class="col-lg-6 col-md-6 result_table">
            {% if data_generated %}
                <table class="table table-striped nowrap" id="result_table" style="width: 50%;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Course Number</th>
                            <th>Title</th>
                            <th>Time</th>
                            <th>Instructor</th>
                            <th>CRN</th>
                            <th id="add_button">To calendar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%  for _, row in selected_data.iterrows() %}
                        <tr data-child-value="SAY">
                            <td class="glyphicon glyphicon-chevron-down"></td>
                            <td>
                                <a target="_blank" href={{ row["number"].link }}>
                                    {{ row["number"].num }}
                                </a>
                            </td>
                            <td>{{ row["title"] }}</td>
                            <td>
                                {% for time in row["time"] %}
                                    {{ time }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for instructor in row["instructor"] %}
                                    <a target="_blank" href={{ instructor.link }}>
                                        {{ instructor.name }}
                                    </a>
                                    <br>
                                {% endfor %}
                            </td>
                            <td>{{ row["CRN"] }}</td>
                            <td id="add_button">
                                <div class="slider"><button>+</button></div>
                            </td>
                            <div class="slider">STH</div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <br>
<div class="container-fluid header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 college_header">
                <b>Wheaton College </b>
                <sub>- The right tool to help you pick classes</sub>
              </div>
        </div>
    </div>
</body>
</html>