<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Selection</title>
    <!-- Project javascript -->
    <script src="../static/js/script_base.js"></script>
    <!-- Project CSS -->
    <link rel="stylesheet" href="../static/css/style_base.css">
    <!-- Jquery JS -->
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- CSS and JS for sweet alert package. -->
    <script src="../static/node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <link rel="stylesheet" href="../static/node_modules/sweetalert2/dist/sweetalert2.css">
    <!-- Bootstrap Select -->
    <script src="../static/node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bootstrap-select/dist/css/bootstrap-select.css">
    <!-- Data Table -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed">

    <!-- Function call for data table -->
    <script>
        // This variable adjust the table size.
        var height_adjust = 350;

        $(document).ready(function() {
            var data_table = $("#result_table");

            // Calculate the proper height for the table.
            var window_height = window.innerHeight-height_adjust;

            var table = data_table.DataTable( {
                "scrollY": window_height,
                "scrollCollapse": true,
                "paging":         false,
                responsive: {
                    details: {
                        type: "column",
                        target: "tr"
                    }
                },
                "columnDefs": [
                    {
                        "targets": [6, 7, 8, 9, 10, 11, 12],
                        "visible": false
                    }
                ]
            } );

            data_table.find("tbody").on("click", "#show_detail", function() {
                var tr = $(this).closest("tr");
                var row = table.row(tr);
                var location = table.row( this ).data()[7];


                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass("shown");
                } else {
                    // Open this row
                    row.child(format(location)).show();
                    tr.addClass("shown");
                }
            } );
        } );

        $(function(){
           $(window).on("resize", resize_result_table);
        });

        function resize_result_table(){
            var window_height = window.innerHeight-height_adjust;
            console.log("the new height"+window_height);
            $('#result_table').DataTable( {
                "destroy": true,
                "scrollY": window_height,
                "scrollCollapse": true,
                "paging":         false,
                responsive: {
                    details: {
                        type: "column",
                        target: "tr"
                    }
                },
                "columnDefs": [
                    {
                        "targets": [6, 7, 8, 9, 10, 11, 12],
                        "visible": false
                    }
                ]
            } );
        }

        function format(row) {
            console.log(row);
            return "<div>"+row+"</div>";
        }

    </script>
</head>


<body>
    <!-- Header of the page. -->
    <div class="container-fluid header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 college_header">
                <b>Wheaton College </b>
                <sub>- The right tool to help you pick classes</sub>
            </div>
        </div>
    </div>

    <!-- Selection drop downs. -->
    <div class="container-fluid course-picker">
        <div class="row">
            <form name="Selections" method="post">
                <select class="selectpicker col-lg-2" id="semester" name="semester" title="Semesters">
                    {% for name in fetched_semesters.index %}
                        <option value= "{{name}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <select class="selectpicker col-lg-2" data-live-search="true" id="subjects" name="subjects" title="Subject(s)" multiple="multiple">
                    {% for name, value in fetched_subjects.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="foundation"></label>
                <select class="selectpicker col-lg-2" id="foundation" name="foundation">
                    {% for name, value in fetched_foundations.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="division"></label>
                <select class="selectpicker col-lg-2" id="division" name="division">
                    {% for name, value in fetched_divisions.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="area"></label>
                <select class="selectpicker col-lg-2" id="area" name="area">
                    {% for name, value in fetched_areas.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <button type="submit" id="submit" onclick="return checkField()">
                    Search &nbsp
                </button><i class="glyphicon glyphicon-search"></i>
            </form>
        </div>
    </div>

    <br>

    <!-- This part is for result table. -->
    <div class="container-fluid">
        <div class="col-lg-6 col-md-6">Calendar goes here!</div>
        <div class="col-lg-6 col-md-6 result_table">
            {% if data_generated %}
                <table class="table table-striped nowrap" id="result_table" style="width: 50%;">
                    <thead><tr>
                        <!-- Set up table headers -->
                        <th></th>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Instructor</th>
                        <th id="add_button">Add</th>
                        <th>CRN</th>
                        <th>Location</th>
                        <th>Connection</th>
                        <th>Exam</th>
                        <th>Foundation</th>
                        <th>Division</th>
                        <th>Area</th>
                    </tr></thead>
                    <tbody>
                    {%  for _, row in selected_data.iterrows() %}<tr>
                        <!-- Column of show details button. -->
                        <td class="glyphicon glyphicon-chevron-down" id="show_detail"></td>

                        <!-- Column of class number. -->
                        <td>
                            <a target="_blank" href={{ row["number"].link }}>
                                {{ row["number"].num }}</a>
                        </td>

                        <!-- Column of class title. -->
                        <td>{{ row["title"] }}</td>

                        <!-- Column of class time. -->
                        <td>
                            {% for time in row["time"] %}
                                {{ time }}<br>
                            {% endfor %}
                        </td>

                        <!-- Column of class instructor(s). -->
                        <td>
                            {% for instructor in row["instructor"] %}
                                <a target="_blank" href={{ instructor.link }}>
                                    {{ instructor.name }}</a><br>
                            {% endfor %}
                        </td>

                        <!-- Column of add class to calendar button. -->
                        <td id="add_button"><button>+</button></td>

                        <!-- Column of class CRN. -->
                        <td>{{ row["CRN"] }}</td>

                        <!-- Column of class location. -->
                        <td>
                            {% for location in row["location"] %}
                                {{ location }} !
                            {% endfor %}
                        </td>

                        <!-- Column of connection. -->
                        <td>
                            {% for connection in row["connection"] %}
                                <a target="_blank" href={{ connection.link }}>
                                    {{ connection.num }}</a><br>
                            {% endfor %}
                        </td>

                        <!-- Column of exam. -->
                        <td>
                            <a target="_blank" href={{ row["exam"].link }}>
                                    {{ row["exam"].letter }}</a>
                        </td>

                        <!-- Column of class foundation. -->
                        <td>{{ row["foundation"] }}</td>

                        <!-- Column of class division. -->
                        <td>{{ row["division"] }}</td>

                        <!-- Column of class area. -->
                        <td>{{ row["area"] }}</td>
                    </tr>{% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <br>
<div class="container-fluid header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 college_header">
                <b>Wheaton College </b>
                <sub>- The right tool to help you pick classes</sub>
              </div>
        </div>
    </div>
</body>
</html>