body{
    background:blue;
}
.header{
    background-color: #0072bc;
    padding: 5px;
}
.college_header{
    font-family: 'Questrial', sans-serif, serif;
    font-size: 3.5vw;
    color:white;
    text-align: center;margin-bottom:5px;
}
#add_button{
    text-align: center;
}
.course-picker{
    background-color: #0072bc;
}
/*this is for the slogan*/
sub{
    font-size: 1vw;
}

.bootstrap-select .btn {
    background: transparent;
    color: white;
    -webkit-transition: ease-in-out 500ms;
    -moz-transition: ease-in-out 500ms;
    -ms-transition: ease-in-out 500ms;
    -o-transition: ease-in-out 500ms;
    transition: ease-in-out 500ms;
    font-family:sans-serif,serif ;

}
.bootstrap-select .dropdown-menu {
    margin: 0;
    -webkit-transition: ease-in-out 500ms;
    -moz-transition: ease-in-out 500ms;
    -ms-transition: ease-in-out 500ms;
    -o-transition: ease-in-out 500ms;
    transition: ease-in-out 500ms;
}

#submit{
    width:7%;
    padding-top:2px;
    padding-bottom: 4px;
    font-family:sans-serif,serif ;
    text-align: center;
    margin-left:5%;
    color: #ee6551;
    height:38px;
    font-weight: bold;
    background:transparent;
    border: 1px solid #ee6e73;
    border-radius:10px;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
    margin-bottom:5px;
}

#submit:hover {

    border: 2px solid #ee6e73;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
    color:white;
    border-radius:0px;
    padding-top:2px;
    padding-bottom: 4px;
}
#submit:hover .glyphicon-search{
    transform: rotateY(360deg);
    -webkit-transition: ease-in-out 500ms;
    -moz-transition: ease-in-out 500ms;
    -ms-transition: ease-in-out 500ms;
    -o-transition: ease-in-out 500ms;
    transition: ease-in-out 500ms;
}
.result_table{
    border: 1px solid black;
}
/*for the table header in result table*/
.dataTables_scrollHead{
    border: 1px solid black;
}
/*make the placeholder color for semesters and subjects white */
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color:white;
}
/*this is to make the + icon rounded in the course page*/
#add_button .glyphicon{
    padding: 5px;
    border-radius: 50%;
    background: #316E95;
    color: white;
}
/*outer/bigger body of the calendar*/
.calendar{
    border: 1px solid black;
}
/*for the calendar title*/
.selected_semester{
    text-align: center;
}
.col-lg-6{
    height: 750px;
}

/*the whole footer div*/
footer{
    margin-top:20px;
    background:black;
}
#footer{
    padding-top:5px;
    margin-bottom: 0px;
}
.footer-logo{
    width: 50px;
}
.col-md4,.col-lg-4{
   left: 35px;
}
.footer_header {
    font-family: 'Questrial',sans-serif,serif;
    font-size: 50px;
   color: #0072bc;
}

.headshot{
    width:30px;
    border-radius: 50%;
}
.artist{
    color: white;
}