<!DOCTYPE html>
<html lang="en">
<!-------------------------- Packages for the project. ----------------------->
<head>
    <meta charset="UTF-8">
    <title>Course Selection</title>
    <!-- Jquery -->
    <script type="text/javascript"
            src="../static/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript"
            src="../static/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript"
            src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Bootstrap Select -->
    <script type="text/javascript"
            src="../static/node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <link rel="stylesheet"
          href="../static/node_modules/bootstrap-select/dist/css/bootstrap-select.css">

    <!-- Data Table -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/r-2.2.2/sc-1.5.0/datatables.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/r-2.2.2/sc-1.5.0/datatables.min.css"/>

    <!-- Jquery Confirm -->
    <script type="text/javascript"
            src="../static/node_modules/jquery-confirm/dist/jquery-confirm.min.js"></script>
    <link rel="stylesheet"
          href="../static/node_modules/jquery-confirm/dist/jquery-confirm.min.css"/>

    <!-- Full Calendar -->
    <script type="text/javascript"
            src='../static/node_modules/moment/min/moment.min.js'></script>
    <script type="text/javascript"
            src='../static/node_modules/fullcalendar/dist/fullcalendar.js'></script>
    <link rel='stylesheet'
          href='../static/node_modules/fullcalendar/dist/fullcalendar.css'/>
    <link rel='stylesheet' media="print"
          href='../static/node_modules/fullcalendar/dist/fullcalendar.print.css'/>

    <!-- Font Awesome -->
    <script type="text/javascript"
            src='../static/node_modules/@fortawesome/fontawesome-free/js/all.js'></script>
    <link rel="stylesheet"
          href="../static/node_modules/@fortawesome/fontawesome-free/css/all.css">

    <!-- Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed|Nanum+Gothic">

    <!-- Project javascript and CSS -->
    <script type="module" src="../static/js/script_base.js"></script>
    <link rel="stylesheet" href="../static/css/style_base.css">
</head>
<!---------------------------------------------------------------------------->

<!-------------------------- Body of the file. ------------------------------->
<body>
<!-- Header of the file. -->
<div class="container-fluid header">
    <br>
    <div class="row">
        <div class="col" id="header-content">
            <b>Wheaton College</b>
            <sub> - The right tool to help you pick classes</sub>
        </div>
    </div>
    <br>
</div>

<!-- Selection drop downs. -->
<div class="container-fluid" id="course-picker">
    <div class="row">
        <select class="selectpicker col" data-style="btn-info"
                id="semester" name="semester" title="Semesters">
            {% for name in fetched_semesters.index %}
                <option value="{{ name }}"
                        {{ "selected" if name == current_semester }}>
                    {{ name }}
                </option>
            {% endfor %}
        </select>

        <select class="selectpicker col" data-style="btn-info"
                data-live-search="true" id="subjects" name="subjects"
                title="Subject(s)" multiple>
            {% for name, value in fetched_subjects.iteritems() %}
                <option value="{{ value }}">{{ name }}</option>"
            {% endfor %}
        </select>

        <label for="foundation"></label>
        <select class="selectpicker col" data-style="btn-info"
                id="foundation" name="foundation">
            {% for name, value in fetched_foundations.iteritems() %}
                <option value="{{ value }}">{{ name }}</option>"
            {% endfor %}
        </select>

        <label for="division"></label>
        <select class="selectpicker col" data-style="btn-info"
                id="division" name="division">
            {% for name, value in fetched_divisions.iteritems() %}
                <option value="{{ value }}">{{ name }}</option>"
            {% endfor %}
        </select>

        <label for="area"></label>
        <select class="selectpicker col" data-style="btn-info"
                id="area" name="area">
            {% for name, value in fetched_areas.iteritems() %}
                <option value="{{ value }}">{{ name }}</option>"
            {% endfor %}
        </select>

        <div class="col text-center">
            <button class="btn btn-danger" type="submit" id="submit">
                Search <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <!-- This part will hold values needed for backend. -->
    <form>
        <label for="area-value"></label>
        <input id="area-value" name="area" type="hidden">
        <label for="division-value"></label>
        <input id="division-value" name="division" type="hidden">
        <label for="semester-value"></label>
        <input id="semester-value" name="semester" type="hidden">
        <label for="subjects-value"></label>
        <input id="subjects-value" name="subjects" type="hidden">
        <label for="foundation-value"></label>
        <input id="foundation-value" name="foundation" type="hidden">
    </form>
</div>


<!-- This part is for body of the page (Calendar, Table). -->
<div class="container-fluid row">
    <!-- This part holds the calendar. -->
    <div class="col-6" id="calendar"></div>
    <!--This part holds the course schedule. -->
    <div class="col-6" id="course-container"></div>
</div>
</body>

<!-- This part sets the footer of the page. -->
<footer>
    <div id="footer" class="container-fluid">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <div class="footer_header">Wheaton college</div>
            </div>
            <div class="col-12" style="text-align: center;">
                <span class="footer-contact">
                    <span> &copy 2018 ALL RIGHTS RESERVED &nbsp | &nbsp</span>
                    <span>Contact Us &nbsp | &nbsp</span>
                    <span>
                        <a href="https://github.com/Weiqi97/WheatonCourseSelection">GitHub Repo</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</footer>
</html>
