<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Selection</title>
    <!-- Project javascript and CSS -->
    <script src="../static/js/script_base.js"></script>
    <link rel="stylesheet" href="../static/css/style_base.css">

    <!-- Jquery and Jquery UI -->
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- Sweet alert -->
    <script src="../static/node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <link rel="stylesheet" href="../static/node_modules/sweetalert2/dist/sweetalert2.css">

    <!-- Bootstrap Select -->
    <script src="../static/node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bootstrap-select/dist/css/bootstrap-select.css">

    <!-- Data Table -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

    <!-- Full Calendar -->
    <script src='../static/node_modules/moment/min/moment.min.js'></script>
    <script src='../static/node_modules/fullcalendar/dist/fullcalendar.js'></script>
    <link rel='stylesheet' href='../static/node_modules/fullcalendar/dist/fullcalendar.css' />
    <link rel='stylesheet' href='../static/node_modules/fullcalendar/dist/fullcalendar.print.css' media="print"/>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed">

    <!-- Function call for data table -->
    <script type="text/javascript">
        $(document).ready(function() {
            // Display the data table and hide row child.
            var data_table = $("#result_table"); // Data table selector.

            // Initialize data table.
            var table = data_table.DataTable( {
                "scrollY":        643,
                "scrollX":        true,
                "scrollCollapse": true,
                "paging":         false,
                "bSort" :         false,
                "bInfo" :         false,
                "columnDefs": [ {
                    "targets": [6, 7, 8, 9, 10, 11, 12, 13, 14],
                    "visible": false
                } ]
            } );

            // Get proper data for row child.
            data_table.find("tbody").on("click", "#show_detail", function() {
                // Set variables for row child display method.
                var tr = $(this).closest("tr");
                var row = table.row(tr);

                // Get all the data from table row.
                var CRN = table.row( this ).data()[6];
                var Exam = table.row( this ).data()[7];
                var Connection = table.row( this ).data()[8];
                var Location = table.row( this ).data()[9];
                var Textbook = table.row( this ).data()[10];
                var Info = table.row( this ).data()[11];
                var Seats = table.row( this ).data()[12];
                var Special = table.row( this ).data()[13];

                // TODO: This looks ugly.. Seeking for fixing method afterwards.
                // Refine info strings and add connection to it.
                Info = Info.replace(/_/g, "<td>");
                Info = Info.replace(/!/g, "</td>");
                if (Connection !== "") {
                    Info = Info + "<td>" + Connection + "</td>";
                }

                // Refine seats string.
                Seats = Seats.replace(/_/g, "<td>");
                Seats = Seats.replace(/!/g, "</td>");

                // Refine special info string.
                Special = Special.replace(/_/g, "<td colspan='4'>");
                Special = Special.replace(/!/g, "</td>");

                // This row is already open - close it
                if (row.child.isShown()) {
                    $("div.slider", row.child()).slideUp( function() {
                        row.child.hide();
                        tr.removeClass("shown");
                    } );
                }
                // Open this row
                else {
                    row.child(format(CRN, Exam, Connection, Location, Textbook,
                        Info, Seats, Special), "no-padding").show();
                    tr.addClass("shown");
                    $('div.slider', row.child()).slideDown();
                }
            } );

            // --------- Calendar ---------
            $("#calendar").fullCalendar( {
                header: {left: "", center: "", right: ""},
                height: 750,
                // Display just full length of weekday, without dates.
                columnFormat: 'dddd',
                defaultView: 'agendaWeek',
                hiddenDays: [0,6],    // hide Saturday and Sunday
                weekNumbers:  false,  // don't show week numbers
                minTime: '8:00:00',   // display from 8 to 22
                maxTime: '22:00:00',
                slotDuration: '00:30:00', // 15 minutes for each row
                allDaySlot: false,        // don't show "all day" at the top
                editable: true,
                defaultDate: moment('2018-04-02'),
            } );
        } );



        function timeConverter(time) {
            if (time.includes("A")){
                if (time[2] === ":") return time.slice(0, 5) + ":00";
                else return "0" + time.slice(0, 4) + ":00";
            }
            else{
                if (Number(time.slice(0, 2)) != 12){
                    var number = Number(time.slice(0, 1)) + 12;
                    var new_time = String(number) + time.slice(1, 4) + ":00";
                    return new_time;
                }
                else return time.slice(0, 5) + ":00";
            }
        }

        function dayConverter(day) {
            if (day === "M") return "2018-04-02T";
            else if (day === "T") return "2018-04-03T";
            else if (day === "W") return "2018-04-04T";
            else if (day === "R") return "2018-04-05T";
            else if (day === "F") return "2018-04-06T";
        }

        //color and size of the dropdown for the course selection
        $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 10
        });
    </script>
</head>


<body>
    <!-- Header of the page. -->
    <div class="container-fluid header">
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 college_header">
                <b>Wheaton College </b>
                <sub> - The right tool to help you pick classes</sub>
            </div>
        </div>
        <br>
    </div>

    <!-- Selection drop downs. -->
    <div class="container-fluid course-picker">
        <div class="row">
            <form name="Selections" method="post">
                <select class="selectpicker col-lg-2 col-md-2" id="semester" name="semester" title="Semesters">
                    {% for name in fetched_semesters.index %}
                        <option value= "{{name}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <select class="selectpicker col-lg-2 col-md-2" data-live-search="true" id="subjects" name="subjects" title="Subject(s)" multiple="multiple">
                    {% for name, value in fetched_subjects.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="foundation"></label>
                <select class="selectpicker col-lg-2 col-md-2" id="foundation" name="foundation">
                    {% for name, value in fetched_foundations.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="division"></label>
                <select class="selectpicker col-lg-2 col-md-2" id="division" name="division">
                    {% for name, value in fetched_divisions.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <label for="area"></label>
                <select class="selectpicker col-lg-2 col-md-2" id="area" name="area">
                    {% for name, value in fetched_areas.iteritems() %}
                        <option value= "{{value}}">{{name}}</option>"
                    {% endfor %}
                </select>

                <button type="submit" id="submit" onclick="return checkField()">
                    Search <i class="glyphicon glyphicon-search"></i>
                </button>
            </form>
        </div>
    </div>
    <br>

    <!-- This part is for body of the page (Calendar, Table). -->
    <div class="container-fluid">
        <!-- This part displays the calendar. -->
        <div class="col-lg-6 col-md-6 calendar">
            <div id="calendar"></div>
        </div>

        <!--This is for displaying the course schedule-->
        <div class="col-lg-6 col-md-6 result_table">
            <table class="table table-striped nowrap" id="result_table" style="width:100%;">
                <!-- Set up table headers. -->
                <thead><tr>
                    <th></th>
                    <th>Number</th>
                    <th>Title</th>
                    <th id="add_button"></th>
                    <th>Time</th>
                    <th>Instructor</th>
                    <th >CRN</th>
                    <th>Exam</th>
                    <th>Connection</th>
                    <th>Location</th>
                    <th>Textbook</th>
                    <th>Info</th>
                    <th>Seats</th>
                    <th>Special</th>
                    <th>Hidden Days</th>
                </tr></thead>

                <!-- Set up table columns. -->
                <tbody>
                {%  for _, row in selected_data.iterrows() %}<tr>
                    <!-- Column of show details button. -->
                    <td class="details-control" id="show_detail"></td>

                    <!-- Column of class number. -->
                    <td>
                        <a target="_blank" href={{ row["number"].link }}>
                            {{ row["number"].num }}</a>
                    </td>

                    <!-- Column of class title. -->
                    <td>{{ row["title"] }}</td>

                    <!-- Column of add class to calendar button. -->
                    <td id="add_button"><button class="add_class glyphicon glyphicon-plus"></button></td>


                    <!-- Column of class time. -->
                    <td>
                        {% for time in row["time"] %}
                            {{ time }}<br>
                        {% endfor %}
                    </td>

                    <!-- Column of class instructor(s). -->
                    <td>
                        {% for instructor in row["instructor"] %}
                            <a target="_blank" href={{ instructor.link }}>
                                {{ instructor.name }}</a><br>
                        {% endfor %}
                    </td>


                    <!-- Column of class CRN. -->
                    <td>CRN: {{ row["CRN"] }}</td>

                    <!-- Column of exam. -->
                    <td>
                        {% if row["exam"].link %}
                            Exam:
                            <a target="_blank" href={{ row["exam"].link }}>
                                {{ row["exam"].letter }}</a>
                        {% endif %}
                    </td>

                    <!-- Column of connection. -->
                    <td>
                        {% if row["connection"] %}
                            Connection(s):
                            {% for connection in row["connection"] %}
                                <a target="_blank" href={{ connection.link }}>
                                    {{ connection.num }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>

                    <!-- Column of class location. -->
                    <td>
                        {% if row["location"] %}
                            Location:
                            {% for location in row["location"] %}
                                {{ location }}
                            {% endfor %}
                        {% endif %}
                    </td>

                    <!-- Column of textbook links. -->
                    <td>
                        <a target="_blank" href={{ row["textbook"] }}>Textbook</a>
                    </td>

                    <!-- Column of class found, div, area info. -->
                    <td>
                        {% if row["foundation"] %}
                            _Foundation: {{ row["foundation"] }}!
                        {% endif %}

                        {% if row["division"] %}
                            _Division: {{ row["division"] }}!
                        {% endif %}

                        {% if row["area"] %}
                            _Area: {{ row["area"] }}!
                        {% endif %}
                    </td>

                    <!-- Column of seats info. -->
                    <td>
                        _{{ row["seats"].max }}!
                        _{{ row["seats"].taken }}!
                        _{{ row["seats"].avail }}!
                        _{{ row["seats"].wait_list }}!
                    </td>

                    <!-- Column of special note. -->
                    <td>
                        {% if row["special_info"] %}
                           _{{ row["special_info"] }}!
                        {% endif %}
                    </td>

                    <!-- Column of hidden days. -->
                    <td>{{ row["hidden_days"] }}</td>
                </tr>{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<!-- This part sets the footer of the page. -->
<br>
<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <br>
                  <div class="col-lg-12 col-md-12" style="text-align: center;">
                      <div class="footer_header">Wheaton college </div>
                      <div class ="artist"><a href="https://github.com/Weiqi97/WheatonCourseSelection"><img src="../static/images/github.png" class="contact-icon"> Please visit our Github page</a></div>
                      <div class ="artist"><img src="../static/images/gmail-icon.png" class="contact-icon"> feng_weiqi@wheatoncollege.edu & norbu_phuntsho@wheatoncollege.edu </div>
                      <div class ="artist">copy right &copy 2018  </div>
                  </div>
            </div>
        </div>
    </div>
    <br>
</footer>



<script>
    /*This function gets data from the row that has been clicked*/
    $(".add_class" ).click(function() {
        var row = $(this).closest("tr");  // Finds the closest row <tr>
        var tds = row.find("td");         // Finds all children <td> elements

        // Refine the target td.
        var course_title = $.trim(tds[2].innerHTML);
        var course_time = $.trim(tds[4].innerHTML);
        course_time = course_time.replace(/\s+/g, "");
        course_time = course_time.split("<br>");  //deletes the <br>

        course_time = Array.from(course_time);

        var days=[], time=[], i = 0, k = 0, j = 0;

        //TODO: Make this work for two times arrays.
        //get the info from the first sub array.
        course_time = Array.from(course_time[0]);
        $(course_time).each(function(){
            if (course_time[i].charCodeAt(0) > 64 & course_time[i]!=='P' & course_time[i]!=='A' & course_time[i]!=='r'){
                days[j++] = course_time[i];
            }
            else { time[k++] = course_time[i]; }
            i++;
        });

        //makes the time array into a string and trims all the commas.
        time = (time.toString()).replace(/,/g , "");

        // Format time for calendar
        time = time.split("-");
        // Truncates the last two M from the AM and PM
        days = days.slice(0, -2);

        days.forEach(function(day){
            var newEvent = {
                title: course_title,
                start: dayConverter(day) + timeConverter(time[0]),
                end: dayConverter(day) + timeConverter(time[1]),
                allDay: false
            };
            $("#calendar").fullCalendar("renderEvent", newEvent, "stick");
        })



    });

</script>
</html>