<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wheaton Course</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
</head>
<body>

<script type="text/javascript">
$(function() {
    $(".subjects").chosen();
});
</script>

<form name="User Selections" method="post" action="/">
    <label for="semesters">Please select semester you want to search for: </label>
    <select id="semesters" name="semesters">
        {% for name in semesters.index %}
        <option value= "{{name}}">{{name}}</option>"
        {% endfor %}
    </select>
    <br><br>
    <label for="subjects">Please select subject(s) you want to search for: </label>
    <select multiple id="subjects" name="subjects" class="subjects" style="width:200px">
        {% for subject in subjects %}
        <option value= "{{subject}}">{{subject}}</option>"
        {% endfor %}
    </select>

    <input type="submit" value="Submit">
</form>

</body>

</html>